data/*.npy
data/*.mat
data/*.edf
venv
__pycache__
*.pyc
*.pyo
.pytest_cache

siena-scalp-eeg-database-1.0.0/**/*
paths.yaml

artifacts/**/*.npy
artifacts/logs/*.log
artifacts/*.json
results/**/*.json
results/**/*.png
results/**/*.pkl